body{
	padding-top: 75px;
}
@media screen and (min-width:320px) and (max-width:768px) {
	body{
		padding-top: 50px;
	}
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}